/*
Primary Color: rgb(3, 164, 218)
Secondary Color: rgb(189, 5, 125)
Text-Color:
Heading-Size
Font-Size
*/

div#container{
    width: 100%;
    margin: 0 auto;
    padding: 0;
}

header {
    width: 100%;
    height: 70px;
}

header img {
    width: 60px;
    height: 60px;
    float: left;
}

header span#title {
    font-weight: bold;
    font-size: 1.5em;
    float: left;
    padding-top: 16px;
    padding-left: 6px;
}

header span#slogan {
    clear: both;
    float: left;
    padding-left: 80px;
    top: -15px;
    position: relative;
}

header div#search {
    float: right;
    top: -20px;
    margin-right: 10px;
    position: relative;
}

header div#search input#nameField {
    width: 100px;
    height: 20px;
    color: black;
    border-radius: 5px;
}

header div#search input#nameField:focus {
    border: 2px solid red;
}

header div#search input#btn-submit {
    border-radius: 10px;
    color: black;
}

header div#search input#btn-submit:hover {
    border-radius: 10px;
    color: white;
    background-color: black;

}

nav {
    width: 100%;
    height: 35px;
    float: left;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: rgb(178, 241, 241);
}

nav ul {
    list-style-type: none;
    padding-top: 10px;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    color: rgb(189, 5, 125);
    text-decoration: none;
    display: inline-block;
    margin-left: 135px;
    height: 20px;
    width: 60px;
}

nav ul li a:hover {
    text-decoration: underline;
    font-weight: bold;
}

aside {
    width: 15%;
    float: left;
    height: 290px;
}

aside ul {
    list-style-type: none;
    padding-top: 20px;
}

aside ul li {
    display: block;
    margin-top: 20px;
    padding-left: 20px;
}

aside ul li a {
    display: inline-block;
    width: 130px;
    height: 20px;
    text-align: center;
    text-decoration: none;
    color: white;
    background-color: rgb(3,164,218);
    border-radius: 5px;
}

aside ul li a:hover {
    color: black;
}

div#products {
    width: 75%;
    float: left;
    height: 290px;
    margin-top: 10px;
}

div.card {
    width: 210px;
    height: 270px;
    text-align: center;
    cursor: pointer;
    border: 1px dashed rgb(3,164,218);
    border-radius: 10px;
    float: left;
    margin: 10px;
}

div.card:hover {
    box-shadow: 0 0 10px rgb(226, 96, 181);
}

div.card img {
    width: 130px;
    height: 130px;
}

div.card h3 {
    font-size: 1.2em;
    font-weight: bold;
    color: rgb(189, 5, 125);
}

div.card p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: x-small;
    padding: 10px;
}

div.card p.price {
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    color: rgb(189, 5, 125);
    font-weight: bold;
}

div .card button.button {
    width: 100%;
    height: 25px;
    background-color: rgb(189, 5, 125);
    color: white;
    border-radius: 10px;
}

div .card button.button:hover {
    color: black;
    cursor: pointer;
}

footer {
    clear: both;
    width: 100%;
    height: 20px;
    margin-top: 20px;
    float: left;
    font-weight: bold;
    background-color: rgb(174, 225, 241);
}

footer p {
    text-align: center;
}
